<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
  <h3>DOAR</h3>
  <div id="seta" class="back-icon-div"><a href="#" class="back-icon" id="back-doar"></a></div>
  <%= form_for(:Donate, :url => { :action => 'searchlocal', :controller => :inicial }, :remote => true ) do |f| %> <!-- <form id="registro"> -->
    <label>ONDE VOCÊ ESTÁ?</label>


    <%= f.text_field :city, :class => 'esq', :id => 'esq-1', :placeholder => 'Cidade', :"data-field" => "city" %><br />
    <%= f.text_field :address, :class => 'esq', :id => 'esq-2', :placeholder => 'Rua e Número', :"data-field" => "street" %><br />
    <%= f.text_field :neighborhood, :class => 'esq', :id => 'esq-3', :placeholder => 'Bairro', :"data-field" => "neighborhood" %>


    <label>O QUE QUER DOAR?</label>
    <%= render :partial => '/shared/autocompletebox', :locals => {:f => f, :placeholder => 'Doando...'}  %>
    <small class="exemplo1">Ex: Roupas, dinheiro, amor...</small>
    <%= f.submit :class => 'botao', :value => 'DOAR' %>

  <% end %>
</nav>
