<h3><%= address.kind %></h3>
<h1><%= address.name %></h1>
<h1><%= address.address %></h1>
<h1><%= address.receiving %></h1>
<h1><%= address.description %></h1>
<h1><%= address.howweuse %></h1>
<h1><%= address.phone %></h1>
<h1><%= address.email %></h1>
</br>