<h3>Tipo: <%= address.kind %></h3>
<h1>Nome: <%= address.name %></h1>
<h1>Endereço:
<%= address.address %></h1>

<h1>Recebendo: <%= address.receiving %></h1>
<h1>Descrição: </br>
  <%= address.description %></h1>
<h1>Telefone: <%= address.phone %></h1>
<h1>E-mail: <%= address.email %></h1>
</br>