<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <h3 id="toright">RECEBER</h3>
  <div id="seta1" class="back-icon-div2"><a href="#" class="back-icon2" id="back-receber"></a></div>
  <label id="regis">SEJA ENCONTRADO</label>

  <%= form_for(:receiver, :html => { :id => 'registro'}) do |f| %> <!-- <form id="registro"> -->

      <fieldset>
        <label>VOCÊ É</label>
        <%= f.text_field :kind, :class => 'tag-tipo' %><!--<input class="tag-tipo" type="text">--></br>
        <%= f.text_field :name, :class => 'dir', :placeholder => 'Nome' %><!--<input class="dir" type="text" placeholder="nome">--><br />
        <label>ONDE VOCÊ ESTÁ?</label>
        <label style="font-size:0.8em;">Descobrir Automaticamente?</label>
        <input class="dir" style="float:right; margin:-24px -70px 0 0; height:13px;" type="checkbox"><br />
        <small id="exemplo2">Usamos Geolocalização do Google</small>
        <%= f.text_field :name, :class => 'dir', :placeholder => 'Cidade' %><!--<input class="dir" type="text" placeholder="Cidade">--><br />
        <%= f.text_field :name, :class => 'dir', :placeholder => 'Rua' %><!--<input class="dir" type="text" placeholder="Rua">--><br />
        <%= f.text_field :name, :class => 'dir', :placeholder => 'Bairro', :style => 'width:60%;' %><!--<input class="dir" type="text" name="doar" style="width:60%;" placeholder="Bairro">-->
        <%= f.text_field :name, :class => 'dir', :placeholder => 'N°', :style => 'width:20%;' %><!--<input style="width:20%;" type="text" placeholder="N°">--><br />
      </fieldset>

    <fieldset>
      <label>O QUE ACEITA RECEBER?</label>
      <input class="tag-receber" type="text"><br />
      <small class="exemplo1">Ex: Roupas, dinheiro, amor...</small>
      <label>DESCREVA SEUS TRABALHOS</label>
      <textarea placeholder="Breve Descrição"></textarea><br />
      <textarea placeholder="Como Usamos as Doações"></textarea><br />
      <input class="dir" type="text" placeholder="Telefone"><br />
      <input class="dir" type="email" placeholder="Email"><br />
    </fieldset>

    <fieldset>
      <label>Agora só falta</label>
      <%= f.submit 'RECEBER', :class => 'botao' %><!--<input class="botao" type="submit" value="RECEBER">-->
    </fieldset>

  <% end %><!--</form>-->
</nav>
<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cbp-spmenu-s4">
  <h3>Como Funciona</h3>
  <div class="back-icon-div3"><a href="#" class="back-icon3" id="back-know"></a></div>
  <p class="info-know">O Doe Já funciona como uma interface entre quem quer doar e as instituições que estão recebendo doações. Procure instituições que têm uma proposta interessante e que seja de acordo com a linha filantrópica que apoia. Doe e colabore para um mundo melhor!</p>
  <br /><small>*Representamos apenas a interface e não cobramos ou recebemos nenhum tipo de ajuda.</small>
  <div class="copyright-know">&copy; GHamdan | <a href="http://portfolio.andrelug.com">Andrelug</a></div>
</nav>