<!DOCTYPE html>
<html>
<head>
  <title>Doe Já</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<%= gmaps4rails(@json) %>

<%= yield :scripts %>
<%= javascript_include_tag "application" %>
</body>
</html>

