<!DOCTYPE html>
<html>
<head>
  <title>Doe Já</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>


  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'shared/map' %>

    <%= yield %>

    <%= javascript_include_tag "application" %>


    <%= yield :scripts %>

    <div id='errors' title="Erros Encontrados"></div>

</body>
</html>

