<!DOCTYPE html>
<html>
<head>
  <title>Doe Já</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>

  <%= csrf_meta_tags %>
</head>
<body>

    <%= gmaps(:map_options => {
            :raw => '{
                           panControl: false,
                           zoomControl: false,
                           mapTypeControl: false,
                           scaleControl: false,
                           streetViewControl: false,
                           overviewMapControl: false,
                           styles: mystyles
                    }',

            :detect_location => false,
            :center_on_user => false,
            :zoom => 8 },
            :markers => {:data => @json} ) %>

    <%= yield %>

    <%= javascript_include_tag "application" %>

    <%= yield :scripts %>

</body>
</html>

