<!DOCTYPE html>
<html>
<head>
  <title>Doe Já</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>


  <%= csrf_meta_tags %>
</head>
<body>

    <%= render 'shared/map' %>

    <%= yield %>

    <%= javascript_include_tag "application" %>


    <%= yield :scripts %>
    <script>
        var inputesq = document.getElementById('autocompleteesq');
        var inputdir = document.getElementById('autocompletedir');
        var autocompletedir = new google.maps.places.Autocomplete(inputesq);
        var autocompleteesq = new google.maps.places.Autocomplete(inputdir);
    </script>

    <div id='errors' title="Erros Encontrados"></div>

</body>
</html>

