<!DOCTYPE html>
<html>
<head>
  <title>Doe Já</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/error_messages' %>

    <%= render 'shared/map' %>

    <%= yield %>

    <%= javascript_include_tag "application" %>


    <%= yield :scripts %>

</body>
</html>

